// Buy.scss
@import 'colors';
.buy-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    // background-color: #f5f5f5;
    gap: '70px';
    color: black;
  
    .buy-details {
      flex: 3;
      background-color: white;
      padding: 20px;
      border-radius: 8px;
  color: black;
      h2 {
        font-size: 1.5em;
        margin-bottom: 20px;

      }
  
      .product-item {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #ddd;
        color: black;
  
        .product-info {
          display: flex;
          img {
            width: 100px;
            height: auto;
            margin-right: 20px;
          }
  
          div {
            p {
              margin: 0;
              color: #555;
            }
  
            h3 {
              font-size: 1.2em;
              margin-bottom: 5px;
            }
          }
        }
  
        .product-actions {
          display: flex;
          flex-direction: column;
          justify-content: center;
          
          button {
            background-color: $secondary;
            color: white;
            border: none;
            padding: 10px 20px;
            margin-bottom: 10px;
            border-radius: 5px;
            cursor: pointer;
            
            &:hover {
              background-color: $secondarydark;
            }
          }
        }
      }
    }
  
    .price-details {
      flex: 1;
      background-color: white;
      padding: 20px;
      color: black;
      border-radius: 8px;
      height: fit-content;
  
      h3 {
        font-size: 1.2em;
        margin-bottom: 15px;
      color: black;

      }
  
      .price-breakdown {
        p {
          display: flex;
          justify-content: space-between;
          margin: 10px 0;
        }
      }
  
      .continue-btn {
        background-color: $secondary;
        color: white;
        padding: 10px 20px;
        border: none;
        width: 100%;
        border-radius: 5px;
        cursor: pointer;
        text-align: center;
  
        &:hover {
          background-color: $secondarydark;
        }
      }
    }
  }
  