* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: blue;
}

nav {
    background-color: black;
}

.home {
    display: flex;
    padding: 2rem;
    flex-wrap: wrap;
}

input {
    padding: 0.7rem;
    border: 1px solid rgba(136, 196, 196, 0.683);
    outline: none;
    border-radius: 5px;
}

form {
    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.coin {
    padding: 2rem;
    background-color: rgb(236, 226, 236);
    border-radius: 10px;
    width: 200px;
    height: 200px;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-family: sans-serif;
}

.coin > img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.coin > h1 {
    text-transform: uppercase;
}

.loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
}

.loading > p {
    font: 400 2rem sans-serif;
}

.loading > div {
    width: 300px;
    height: 300px;
    border-bottom: 4px solid rgb(65, 65, 65);
    border-radius: 50%;
    animation: rotation 0.5s infinite ease-in-out; /* Added unit for time */
}

@keyframes rotation {
    to {
        transform: rotateZ(360deg); /* Removed quotes around the angle */
    }
}
